h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
*,
*::before,
*::after {
  box-sizing: content-box;
} 
*/
header,
header * {
  border: 1px solid red;
}
header{
  display: flex;
  margin-left: 156px;
  margin-right: 156px;
}
header ul{
  display: flex;
}
body {
  font-family: "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  color: #434455;
}
.ourportfolio ul, .ourteam, .ourportfolio{
  flex-wrap: wrap;
}
.container, .ourteam ul, .row1, .row2{
  padding-left: 156px;
  padding-right: 156px;
  display: flex;
  justify-content: center;
}
.ourteam ul{
  gap: 24px;
  margin-bottom: 120px;
}
.ourteam li{
  background-color: #FFFFFF;
}
.ourportfolio li {
  border-bottom: 1px solid #E7E9FC;
}
.row1, .row2{
  gap: 24px;
}
.row1{
  margin-bottom: 48px;
}
.row2{
  margin-bottom: 120px;
}
.mainideas{
  margin-bottom: 120px;
  margin-top: 120px;
  gap: 24px;
}
.ourportfolioh3{
  margin: 32px auto 8px 16px;
}
.ourportfoliop{
  margin: 8px auto 32px 16px;
}
.ourteamcontent{
  flex-wrap: wrap;
  justify-content: center;
  margin: 32px 16px;
}
.ourteam h3{
  display: flex;
  justify-content: center;
}
.ourteam p{
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1.1px;
  text-align: center;
  /*   line-height: 1.07;   */
}
h2 {
  font-size: 36px;
  color: #2e2f42;
  margin-top: 120px;
  margin-bottom: 72px;
}
h3 {
  font-size: 20px;
  color: #2e2f42;
  margin-bottom: 8px;
}
p {
  font-size: 16px;
  line-height: 1.5;
}
.button {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 48px auto;
  /* display ve margin kismini anlamadim geri don*/
  width: 169px;
  height: 56px;
}
footer {
  color: #f4f4fd;
  background-color: #2e2f42;
  height: 312px;;
  display: flex;
  align-items: center;
}
.footerlogo{
  margin-bottom: 16px;  
}
.footercontent{
  margin-left: 156px;
}
.webfooter {
  font-family: "Raleway", "Segoe UI", "Helvetica Neue", "Open Sans", Arial,
    sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
}
.studiofooter {
  font-family: "Raleway", "Segoe UI", "Helvetica Neue", "Open Sans", Arial,
    sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #f4f4fd;
}
.web {
  font-family: "Raleway", "Segoe UI", "Helvetica Neue", "Open Sans", Arial,
    sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
}
.studio {
  font-family: "Raleway", "Segoe UI", "Helvetica Neue", "Open Sans", Arial,
    sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #2e2f42;
}
.title {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.address {
  color: #434455;
}
.link {
  color: #2e2f42;
}
.footerinfo {
  font-size: 16px;
  color: #f4f4fd;
}
.web,
.studio,
.webfooter,
.studiofooter,
.title,
.address,
.button,
.footerinfo,
.link {
  text-decoration: none;
}
ul{
  list-style-type: none;
}
.ourteam{
  background-color: #F4F4FD;
}